a {
  text-decoration: none;
}

.container a {
  font-size: 32px;
}

.container a:hover {
  text-decoration:underline;
}

.navbar a {
  color: rgb(0, 0, 0);
}

.navbar .btn {
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 40px;
}

h2 a {
  font-size: 36px;
}

article {
  display: block;
  margin-bottom: 16px;
}

.text-truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Nombre de lignes avant troncature */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Ajustable selon le besoin */
}

.article-content {
  p { margin-bottom: 1rem; }
  strong {
    display: block;
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }
}
